
body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 8%;
}

h2{
    text-align: center;
}

nav {
    
    flex: auto;
    flex-direction: column;
    font-size: 30px;
    border: 5px solid black;
    padding: 0px;
    height: 450px;
    width: 400px;
}

.title{
    font-size: 50px;
}

ul {
    color: blue;
}

.volver {

    margin-top: auto;
}

p {
    margin-left: 10px;
}

hr {
    margin-left: 10px;
}