listas {
    counter-reset: cuentalistas;
}

id::before {
    content: counter(cuentalistas) ". ";
    counter-increment: cuentalistas;
}

id {
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    text-indent: -20px;
}
elemento1, elemento2 {
    display: list-item;
    list-style: disc;
    margin-left: 40px;
}