body {
    color: #00f;
    background-color: #CFC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    color: #f00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 32px;
}

h2 {
    color: #A00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 24px;
}

.datos {color: #060;}

.sustantivo {
    font-size: 20px;
    font-weight: bold;
}

.acronimo {
    color: #fff;
    background-color: #000;
    
}