body{
    width: 100%;
    padding: 30px;
}
table {
    background-color: rgb(232, 232, 166);
    border: 3px dashed black;
    border-bottom: none;
}

.fila_head, fila {
    color: rgb(48, 10, 137);
    font-weight: bold;
}