
/*Para organizar estas propiedades en cascada y no se solapen, se usa la regla
LoVe HAte F (Link, Visited, Hover, Active, Focus*/

/*En su estado normal, un enlace se muestra de color rojo y
sin subrayado (propiedad textde coración).
*/
a:link {
    color: red;
    text-decoration: none;
}

/*Cuando un enlace ha sido visitado, se muestra de color verde oscuro OK*/
a:visited {
    background-color: white;   
    color: green;
}

/* Con :hover OK
Cuando el usuario sitúa el cursor del ratón sobre un enlace,
se invierten los colores (el texto del enlace se muestra con 
color blanco sobre un fondo rojo) y se muestra el subrayado.
*/
a:hover {
    background-color: red;
    color: white;
    text-decoration: underline;
}
/*Cuando un enlace está activo, se muestra de color naranja OK*/
a:active {
    background-color: white;
    color: orange;
}

/*Cuando un enlace tiene el foco del teclado, se muestra de color 
azul y se muestra el subrayado.
*/
a:focus {
    color: blue;
    text-decoration: underline;
}
