body {
    margin: 15px;
    padding: 0;
    font-size: 18px;
}

main {
    box-sizing: content-box;
    width: 400px;
    border: solid black 5px;
}

img {
    width: 50%;
    box-shadow: 0px 0px 12px grey; /*borde sombreado*/

}

hr {margin: 0px 0px 30px 10px;}
