
html, body {
   
    /*background: linear-gradient(to bottom, orange 0% ,lightblue 100% );*/
    
    margin-bottom: 30px; /* Ajusta este valor según el margen que desees */
    padding: 0;
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
  
}

h1 {
    color:#333; 
    font-size:40px; 
    text-align: center;
}

h2 {
    font-size: 30px;
    color:#000000; 
    text-align: center;
}

h3 {
    font-size: 30px;
    color:#000000; 
    text-align: 30px;
}
p {
    font-style: arial;
    font-size: 25px;
    color:#000;
    text-align: center;
    margin: 0 auto;
 
}

ol {
    font-family: "Courier New", monospace;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; 
    width: 30%;
    font-size: 20px;
    
}

li {
    color:#000;
}

a {
    color: #0D47A1;    
    margin-bottom: 30px;
    
    
}

dl {
    margin-top: 10px;
    text-align: left;
}

dt {
    margin-top: 20px;
}

img {
   
    border-radius: 5%;
    border-style: double;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; 
    width: 30%;
}
.enlace {
    display: block;
    text-align: center;
}



