
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el footer esté al final */
    margin: 30px;
    bottom: 20px;
    background-color: black;
}

h1 {
    color: rgb(224, 101, 48);
    position: relative;
    text-align: center;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(224, 101, 48);
    font-size: 50px;
}

h2 {
    color: rgb(224, 101, 48);
}

header {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}

.carrete {
    display: flex; /* Flexbox en el contenedor */
    flex-direction: row; /* Alinea las imágenes en fila (horizontal) */
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center; /* Centra verticalmente las imágenes */
    width: 100%; /* Usa el 100% del ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
    gap: 20px; /* Espacio entre imágenes */
}

img {
    width: 225px; /* Ajusta el tamaño de las imágenes */
    height: 225px; /* Mantén una altura fija para mayor control */
    object-fit: cover; /* Ajusta las imágenes a su contenedor sin deformarlas */
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(224, 101, 48);
    transition: 0.5s ease;
}

img:hover {
    width: 300px;
    filter: contrast(120%);
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vh;
    justify-content: center;
    flex-wrap: wrap;
    
}

nav {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 4vh;
    background: rgb(67, 64, 63);
    align-items: center;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(224, 101, 48);
    object-fit: cover;
    padding: 15px;
    color: white;
}

a:link {color: rgb(10, 9, 8);}
a:visited {color:rgb(238, 154, 76);}
a:active {color:rgba(235, 92, 15, 0.968);}
a {text-decoration: none;}

main {
    display: flex;
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.954);
    padding: 15px;
    margin-left: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(224, 101, 48);
    text-align: center;
    font-size: 20px;
}

.articulo-uno {
    flex-basis: 45%; /* Los artículos ocuparán el 45% del ancho disponible */
    margin: 20px;
    background-color: rgb(67, 64, 63);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(224, 101, 48);
    justify-content: center;
    color: white;
}

.articulo-dos {
    flex-basis: 45%; /* Los artículos ocuparán el 45% del ancho disponible */
    margin: 20px;
    background-color: rgb(67, 64, 63);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(224, 101, 48);
    color: white;
}

aside {
    position: relative;
    background-color: rgb(67, 64, 63);
    padding: 10px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(224, 101, 48);
    color: white;
}

.empresa {
    position: absolute;
    text-align: center;
    margin-left: 40px;
}

.contacto{
    position: absolute;
    text-align: center;
    margin-left: 350px;
}

ul {
    list-style-type: none;
}

.rutas {
    position: relative;
    width: 100rem;
    height: 20rem;
    justify-content: space-between;
    align-items:center;
    width: 100rem;
    height: 25rem;
    background-color: rgb(67, 64, 63);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(224, 101, 48);
    text-align: center;
    color: white;

}

table {
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    margin: 5px;
}
th, td {
    padding: 8px;
    width: 150px;
    height: 20px;
}

footer {
    position: relative;
    width: 100rem;
    height: 20rem;
    background: url(images/footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgb(224, 101, 48);
} 