
body {    
    padding: 0;
    flex: 1;
    margin: 0 20px 30px 20px;
}

h1 {
    color:#333; 
    font-size:40px; 
    text-align: center;
}

h2 {
    font-size: 30px;
    color:#000000; 
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:#000;
    text-align: center;
    margin: 0 auto;
}

.texto {
    font-size: 25px;
    color:#000000; 
    text-align: justify;
}

ol {
    font-family: "Courier New", monospace;
    margin: 0 auto; 
    display: block; 
    width: 30%;
    font-size: 20px;
}

ul {
    font-size: 20px;
}


a {
    color: #0D47A1;    
    margin-bottom: 30px;
}

img {
    border-radius: 5%;
    border-style: double;
    margin: 0 auto; 
    display: block; 
    width: 30%;
}

.enlace {
    display: block;
    text-align: center;
}



